body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.content {
    margin: 0 auto;
    width: 400px;
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}	

.main{
    margin-left:160px;
    padding: 0px 10px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}